  /* For mobile phones: */
  body {
      font-family: 'Helvetica Now Text', sans-serif;
      width: 100%;
      margin: 0%;
  }

  .menu-icon {
      float: right;
      font-size: 40px;
      margin-left: 70%;
      cursor: pointer;

  }

  .logo img {
      width: 6.8em;
      height: 7em;
  }

  header {
      display: flex;
      height: 0%;
      padding: 0%;
      margin-top: 10%;
      margin-bottom: 20%;
      margin-right: 0%;
      align-items: center;
  }

  .logo {
      min-width: 10%;
      min-height: 10%;
      padding-left: 3.1%;
      margin-left: 0%;
      justify-content: center;
      cursor: pointer;
      flex: 0em;
  }

  nav {
      display: none;
  }

  .main-text {
      margin-top: 1.8%;
      padding-top: 1.8%;
      font-size: 12px;
      text-align: center;
      justify-content: center;
  }


  .main-text img {
      margin: 0%;
      padding-left: 17%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  .get-started-btn {
      font-size: 0.77em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 3.5%;
      margin-left: 5%;
      margin-bottom: 5%;
      padding: 2% 4%;
      border-radius: 8px;
      color: white;
      background-color: black;
      border-style: none;
      box-shadow: 0px 2px grey;
      cursor: pointer;
  }

  .get-started-btn:hover {
      color: black;
      background-color: white;
  }

  h4 {
      text-transform: uppercase;
      font-weight: 400;
  }

  .about-section {
      font-family: inherit;
      text-align: center;
      padding-top: 10%;
      padding-bottom: 10%;
      margin-top: 20px;
      background-color: #e2dedefc;
  }

  .about-us-text {
      margin-top: 5%;
      font-size: 1.2em;
      font-weight: bolder;
  }

  .about-paragraph {
      font-size: 0.7em;
  }

  .about-us-img {
      height: 15%;
      width: 50%;
      margin-top: 5%;
  }

  .project-num {
      display: flex;
      justify-content: center;
  }

  .survey-1 {
      margin-top: 2%;
      margin-right: 5%;
      float: left;
  }

  .survey-2 {
      margin-top: 2%;
      margin-right: 5%;
      float: left;
  }

  .survey-3 {
      margin-top: 2%;
      float: left;
  }

  .service-section {
      padding-top: 10%;
      padding-bottom: 10%;
      text-align: center;
      background-color: white;
  }

  .service-title {
      margin-top: 5%;
      font-size: 1.2em;
      font-weight: bold;
  }

  .service-type {
      font-size: 1.5em;
      font-weight: bold;
  }

  .service-type-paragraph {
      font-family: inherit;
      font-size: 0.7em;
  }

  .project-section {
      font-family: inherit;
      text-align: center;
      padding-top: 10%;
      padding-bottom: 10%;
      background-color: #e2dedefc;
  }

  .project-title {
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 5%;
      margin-bottom: 10%;
  }

  .completed-project {
      margin-left: 5%;
      margin-right: 5%;
      padding: 5%;
      background-color: white;
      border: 2px grey;
      box-shadow: 8px 8px 10px #CBC3C3;
      border-radius: 0.8em;
  }

  .completed-project p {
      margin: 0%;
      padding: 0%;
  }

  #company-project {
      margin-bottom: 5%;
  }

  .company-category {

      color: #747474;
  }

  .contact-section {
      font-family: inherit;
      text-align: center;
      padding-top: 10%;
      padding-bottom: 10%;
      color: white;
      background-color: black;
  }

  .contact-title {
      text-transform: uppercase;
      font-weight: bold;
  }

  .contact-form {
      border-radius: 1em;
      background-color: #f2f2f2;
      margin-left: 10%;
      margin-right: 10%;
      padding: 2em;
  }

  .contact-form-detail {
      color: black;
      text-align: left;
      margin-bottom: 0%;
  }


  input[type=text],
  select,
  textarea {
      width: 100%;
      height: 5%;
      padding: 1em;
      font-size: 0.7em;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      resize: vertical;
  }

  .submit-btn {
      text-align: center;
  }

  input[type=submit] {
      background-color: #04AA6D;
      color: white;
      margin-top: 1.5em;
      padding: 1em 2em;
      border: none;
      border-radius: 1em;
      cursor: pointer;
  }

  input[type=submit]:hover {
      color: white;
      background-color: black;
  }

  #country {
      font-size: 0.7em;
  }

  .label-text {
      font-size: 0.7em;
  }

  .footer {
      font-family: inherit;
      font-size: 0.7em;
      margin-top: 10%;
      margin-bottom: 10%;
      text-align: center;
  }

  .copywright {
      padding: 0.5%;
      font-size: 0.8em;
      color: white;
      background-color: black;
      align-content: center;
      text-align: center;
  }

  .reserved {
      font-weight: 300;
      color: white;
  }

  .reserved a {
      color: white;
      text-decoration: none;
  }

  @media only screen and (min-width: 920px) {

      /* for Desktop view: */

      header {
          display: flex;
          height: 0%;
          padding: 0%;
          margin-top: 8%;
          margin-bottom: 20%;
          margin-right: 0%;
          align-items: center;
      }

      .logo img {
          height: 10em;
          width: 10em;
      }

      .logo {
          padding-left: 3.1%;
          margin-left: 0%;
          justify-content: center;
          flex: 0.66;
          cursor: pointer;
      }

      .menu-icon {
          float: right;
      }

      .main-text {
          padding-top: 1.8%;
      }

      .head-text {
          text-transform: uppercase;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 2em;
          font-style: normal;
      }

      .digital-head-text {
          text-transform: uppercase;
          margin-top: 0%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 3em;
          font-weight: bold;
      }

      .design-head-text {
          text-transform: uppercase;
          margin-top: -2.5%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 3em;
          font-weight: bold;
      }

      .client-text {
          margin-top: -0.7%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 1.8em;
      }

      .main-text img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
      }

      .get-started-btn {
          font-size: 1em;
          text-transform: uppercase;
          text-align: center;
          margin-top: 3.5%;
          margin-bottom: 5%;
          padding: 2% 4%;
          border-radius: 10px;
          color: white;
          background-color: black;
          border-style: solid;
          box-shadow: 1px 2px grey;
          cursor: pointer;
      }

      .about-us-img {
          height: 25%;
          width: 50%;
          margin-top: 5%;
      }

      .service-type-paragraph {
          font-family: inherit;
          font-size: 0.7em;
          margin-right: 15%;
          margin-left: 15%;
      }

      .completed-project {
          margin-left: 25%;
          margin-right: 25%;
          padding: 3%;
          background-color: white;
          border: 2px grey;
          box-shadow: 8px 8px 10px #CBC3C3;
          border-radius: 0.8em;
      }

      .contact-form {
          border-radius: 1em;
          background-color: #f2f2f2;
          margin-left: 20%;
          margin-right: 20%;
          padding: 2em;
      }


      input[type=text],
      select,
      textarea {
          width: 100%;
          height: 5%;
          padding: 1em;
          font-size: 0.7em;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 0.8em;
          margin-bottom: 0.8em;
          resize: vertical;
      }

  }

  @media only screen and (min-width: 920px) {

      /* for Tablet view: */

      header {
          display: flex;
          height: 0%;
          padding: 0%;
          margin-top: 8%;
          margin-bottom: 20%;
          margin-right: 0%;
          align-items: center;
      }

      .logo img {
          height: 10em;
          width: 10em;
      }

      .logo {
          padding-left: 3.1%;
          margin-left: 0%;
          justify-content: center;
          flex: 0.66;
          cursor: pointer;
      }

      .menu-icon {
          float: right;
      }

      .main-text {
          padding-top: 1.8%;
      }

      .head-text {
          text-transform: uppercase;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 2em;
          font-style: normal;
      }

      .digital-head-text {
          text-transform: uppercase;
          margin-top: 0%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 3em;
          font-weight: bold;
      }

      .design-head-text {
          text-transform: uppercase;
          margin-top: -2.5%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 3em;
          font-weight: bold;
      }

      .client-text {
          margin-top: -0.7%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 1.8em;
      }

      .main-text img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
      }

      .get-started-btn {
          font-size: 1em;
          text-transform: uppercase;
          text-align: center;
          margin-top: 3.5%;
          margin-bottom: 5%;
          padding: 2% 4%;
          border-radius: 10px;
          color: white;
          background-color: black;
          border-style: solid;
          box-shadow: 1px 2px grey;
          cursor: pointer;
      }

      .about-us-img {
          height: 50%;
          width: 45%;
          margin-top: 5%;
      }

      .service-type-paragraph {
          font-family: inherit;
          font-size: 0.7em;
          margin-right: 15%;
          margin-left: 15%;
      }

      .completed-project {
          margin-left: 25%;
          margin-right: 25%;
          padding: 3%;
          background-color: white;
          border: 2px grey;
          box-shadow: 8px 8px 10px #CBC3C3;
          border-radius: 0.8em;
      }

      .contact-form {
          border-radius: 1em;
          background-color: #f2f2f2;
          margin-left: 30%;
          margin-right: 30%;
          padding: 2em;
      }


      input[type=text],
      select,
      textarea {
          width: 100%;
          height: 5%;
          padding: em;
          font-size: 0.7em;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 0.8em;
          margin-bottom: 0.8em;
          resize: vertical;
      }


  }