body {
    font-family: 'Helvetica Now Text', sans-serif;
    height: 100%;
    margin: 0;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    body {
        max-width: 100%;
        max-height: 100%;
    }

    .main-img{
        width: 100%;
}
    }


.main-img {
    background: url("img/5651980.png");
    min-width: 100%;
    min-height: 100%;
}

header {
    display: flex;
    height: 15%;
    padding: 1.5%;
    margin-right: 3%;
    align-items: center;
}

.logo {
    padding-left: 3.1%;
    margin-left: 0%;
    justify-content: center;
    flex: 0.66;
    cursor: pointer;
}

nav {
    margin-left: 8%;
    padding-left: 8%;
    flex: 2.5;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

li {
    text-transform: uppercase;
    display: inline;
    font-size: 18px;
    list-style: none;
}

a {
    display: inline;
    color: black;
    padding: 1.5%;
    text-decoration: none;
}

.menu-section {
    font-weight: bold;
}

.main-text {
    margin-top: 1.8%;
    padding-top: 1.8%;
}

.head-text {
    text-transform: uppercase;
    padding-left: 2%;
    margin-left: 2%;
    font-size: 45px;
    font-style: normal;
}

.digital-head-text {
    text-transform: uppercase;
    margin-top: -1%;
    padding-left: 2%;
    margin-left: 2%;
    font-size: 55px;
    font-weight: bold;
}

.design-head-text {
    text-transform: uppercase;
    margin-top: -3.3%;
    padding-left: 2%;
    margin-left: 2%;
    font-size: 55px;
    font-weight: bold;
}

.client-text {
    margin-top: -0.7%;
    padding-left: 2%;
    margin-left: 2%;
    font-size: 25px;
}

.get-started {
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 3.5%;
    margin-left: 4.5%;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
    padding: 1.3%;
    color: white;
    background-color: black;
    border-style: none;
}

.get-started:hover {
    background-color: white;
    color: black;
}

.about-section {
    height: 80%;
    margin: 0;
    box-shadow: 5px 2px #888888;
}

h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-family: inherit;
    padding-top: 2.5%;
    padding-left: 2%;
    margin-left: 2%;
}

.below-about {
    position: absolute;
    padding-top: 2%;
    padding-left: 2%;
    margin-left: 2%;
    font-weight: bolder;
    font-size: 30px;
}

.paragraph {
    position: absolute;
    margin-top: 5.5%;
    padding-top: 5%;
    padding-left: 2%;
    margin-left: 2%;
}

.about-us-img {
    height: 77%;
    width: 50%;
    margin-right: 2%;
    padding-right: 2%;
    float: right;
}

.project-num {
    margin-left: 4%;
    padding-right: 4%;
    margin-top: 11.5%;
    padding-top: 11.5%;
}

.done-project {
    display: inline;
    padding: 2.2%;
}

.below-done-project {
    display: inline;
    padding: 1.5%;
}

.service-title {
    font-family: inherit;
    position: absolute;
    padding-top: 1.8%;
    padding-left: 2%;
    margin-left: 2%;
    font-size: 30px;
}

.ui-design {
    font-family: inherit;
    font-weight: bold;
    font-size: 30px;
    padding-left: 2%;
    margin-left: 2%;
    margin-top: 10%;
}

.ui-paragraph {
    padding-left: 2%;
    margin-left: 2%;
}

.skill-section {
    display: inline;
    padding: 2%;
}