  /* For mobile phones: */
  body {
      font-family: 'Helvetica Now Text', sans-serif;
      width: 100%;
      margin: 0%;
  }

  .main-img {
      background-image: linear-gradient(to right, grey, white);
  }

  .menu-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 40px;
      cursor: pointer;
  }

  .logo img {
      width: 6.8em;
      height: 7em;
  }

  header {
      display: flex;
      width: 0%;
      height: 0%;
      margin-bottom: 35%;
      align-items: center;
  }

  .logo {
      width: 100%;
      height: 100%;
      padding-left: 2%;
      margin-left: 0%;
      justify-content: center;
      cursor: pointer;
      flex: 0em;
  }

  .topnav {
      display: none;
  }

  .main-text {
      margin-top: 1.8%;
      padding-top: 1.8%;
      font-size: 12px;
      text-align: center;
      justify-content: center;
  }


  .main-text img {
      margin: 0%;
      padding-left: 17%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  .get-started-btn {
      font-size: 0.77em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 3.5%;
      margin-left: 0%;
      margin-bottom: 5%;
      padding: 2% 4%;
      border-radius: 8px;
      color: white;
      background-color: black;
      border-style: none;
      box-shadow: 0px 2px grey;
      cursor: pointer;
  }

  .get-started-btn:hover {
      color: black;
      background-color: orange;
  }

  h4 {
      text-transform: uppercase;
      font-weight: 400;
  }

  .about-section {
      font-family: inherit;
      text-align: center;
      padding-top: 2%;
      padding-bottom: 2%;
      background-color: white;
  }

  .about-us-text {
      margin-top: 5%;
      font-size: 1.2em;
      font-weight: bolder;
  }

  .about-paragraph {
      font-size: 0.7em;
  }

  .about-us-img {
      height: 15%;
      width: 50%;
      margin-top: 5%;
  }

  .project-num {
      display: flex;
      justify-content: center;
  }

  .survey-1 {
      margin-top: 2%;
      margin-right: 5%;
      float: left;
  }

  .survey-2 {
      margin-top: 2%;
      margin-right: 5%;
      float: left;
  }

  .survey-3 {
      margin-top: 2%;
      float: left;
  }

  .service-section {
      padding-top: 2%;
      padding-bottom: 2%;
      text-align: center;
      background-color: #e2dedefc;
  }

  .service-title {
      margin-top: 5%;
      font-size: 1.2em;
      font-weight: bold;
  }

  .service-type {
      font-size: 1.5em;
      font-weight: bold;
  }

  .service-type-paragraph {
      font-family: inherit;
      font-size: 0.7em;
  }

  .project-section {
      font-family: inherit;
      text-align: center;
      padding-top: 2%;
      padding-bottom: 2%;
      background-color: white;
  }

  .project-title {
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 5%;
      margin-bottom: 5%;
  }

  .completed-project {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      padding: 5%;
      background-color: #e2dedefc;
      border: 2px grey;
      box-shadow: 8px 8px 10px #CBC3C3;
      border-radius: 0.8em;
  }

  .completed-project p {
      margin: 0%;
      padding: 0%;
  }

  .company-category {

      color: #747474;
  }

  .contact-section {
      font-family: inherit;
      text-align: center;
      padding-top: 2%;
      padding-bottom: 2%;
      color: white;
      background-color: black;
  }

  .contact-title {
      text-transform: uppercase;
      font-weight: bold;
  }

  .contact-form {
      border-radius: 1em;
      background-color: #f2f2f2;
      margin-left: 10%;
      margin-right: 10%;
      padding: 2em;
  }

  .contact-form-detail {
      color: black;
      text-align: left;
      margin-bottom: 0%;
  }


  input[type=text],
  select,
  textarea {
      width: 100%;
      height: 5%;
      padding: 1em;
      font-size: 0.7em;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      resize: vertical;
  }

  .submit-btn {
      text-align: center;
  }

  input[type=submit] {
      background-color: #04AA6D;
      color: white;
      margin-top: 1.5em;
      padding: 1em 2em;
      border: none;
      border-radius: 1em;
      cursor: pointer;
  }

  input[type=submit]:hover {
      color: white;
      background-color: black;
  }

  #country {
      font-size: 0.7em;
  }

  .label-text {
      font-size: 0.7em;
  }

  .footer {
      font-family: inherit;
      font-size: 0.7em;
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: center;
  }

  .copywright {
      margin: 0%;
      padding: 0%;
      font-size: 0.8em;
      color: white;
      background-color: black;
      text-align: center;
  }

  .reserved {
      margin: 0%;
      font-weight: 300;
      color: white;
  }

  .reserved a {
      color: white;
      text-decoration: none;
  }

  @media only screen and (min-width: 416px) and (max-width: 920px) {

      /* for Tablet view: */

      header {
          display: flex;
          height: 0%;
          padding: 0%;
          margin-bottom: 20%;
          margin-right: 0%;
          align-items: center;
      }

      .logo img {
          height: 8em;
          width: 8em;
      }

      .logo {
          padding-left: 3.1%;
          margin-left: 0%;
          justify-content: center;
          flex: 0.66;
          cursor: pointer;
      }

      .menu-icon {
          float: right;
      }

      .main-text {
          padding-top: 8em;
      }

      .head-text {
          text-transform: uppercase;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 2em;
          font-style: normal;
      }

      .digital-head-text {
          text-transform: uppercase;
          margin-top: 0%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 3em;
          font-weight: bold;
      }

      .design-head-text {
          text-transform: uppercase;
          margin-top: -2.5%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 3em;
          font-weight: bold;
      }

      .client-text {
          margin-top: -0.7%;
          padding-left: 2%;
          margin-left: 2%;
          font-size: 1.8em;
      }

      .main-text img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
      }

      .get-started-btn {
          font-size: 1em;
          text-transform: uppercase;
          text-align: center;
          margin-top: 3.5%;
          margin-bottom: 5%;
          padding: 2% 4%;
          border-radius: 10px;
          color: white;
          background-color: black;
          border-style: solid;
          box-shadow: 1px 2px grey;
          cursor: pointer;
      }

      .about-us-img {
          height: 25%;
          width: 50%;
          margin-top: 5%;
      }

      .service-type-paragraph {
          font-family: inherit;
          font-size: 0.7em;
          margin-right: 15%;
          margin-left: 15%;
      }

      .completed-project {
          margin-left: 25%;
          margin-right: 25%;
          padding: 3%;
          background-color: #e2dedefc;
          border: 2px grey;
          box-shadow: 8px 8px 10px #CBC3C3;
          border-radius: 0.8em;
      }

      .contact-form {
          border-radius: 1em;
          background-color: #f2f2f2;
          margin-left: 20%;
          margin-right: 20%;
          padding: 2em;
      }


      input[type=text],
      select,
      textarea {
          width: 100%;
          height: 5%;
          padding: 1em;
          font-size: 0.7em;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 0.8em;
          margin-bottom: 0.8em;
          resize: vertical;
      }

  }

  @media only screen and (min-width: 920px) {

      /* for Desktop view: */

      body {
          font-family: 'Helvetica Now Text', sans-serif;
          width: 100%;
          margin: 0%;
      }

      .container {
          overflow: hidden;
      }

      .main-img {
          width: 100%;

      }

      header {
          display: flex;
          width: 0%;
          height: 0%;
          margin-bottom: 0%;
          align-items: none;
      }

      .logo {
          padding-left: 0%;
          margin-left: 0%;
          justify-content: center;
          cursor: pointer;
      }

      .logo img {

          height: 10em;
          width: 10em;
      }

      .menu-icon {
          display: none;
      }

      .topnav {
          display: inline-block;

      }

      ul {
          display: flex;
          width: 100%;
          list-style: none;
          margin-top: 13%;
          margin-left: 35em;
          padding: 10px;
      }

      li {
          display: inline-block;
          font-size: 20px;
      }

      a {
          display: inline-block;
          color: black;
          padding: 20px;
          text-decoration: none;
      }

      .main-text {
          margin: 0%;
          padding-top: 10%;
          text-align: left;
      }

      .head-text {
          text-transform: uppercase;
          padding-left: 2%;
          margin-left: 2.5%;
          font-size: 3.5em;
          font-style: normal;
      }

      .digital-head-text {
          text-transform: uppercase;
          margin-top: 2%;
          padding-left: 2.5%;
          margin-left: 2.5%;
          font-size: 4em;
          font-weight: bold;
      }

      .design-head-text {
          text-transform: uppercase;
          margin-top: -2.3%;
          padding-left: 2.5%;
          margin-left: 2.5%;
          font-size: 4em;
          font-weight: bold;
      }

      .client-text {
          margin-top: 0%;
          padding-left: 2.5%;
          margin-left: 2.5%;
          font-size: 2.5em;
      }

      .main-text img {
          margin-top: -17%;
          padding-top: 0%;
          padding-left: 40%;
          display: flex;
          width: 90%;
          height: 65%;
      }

      .get-started-btn {
          text-transform: uppercase;
          margin-top: -10%;
          margin-left: 7%;
          font-size: 1.3em;
          padding: 1.5% 2.5%;
          color: white;
          background-color: black;
          border-radius: 10px;
          border-style: none;
          box-shadow: 2px 2px grey;
          cursor: pointer;
      }

      .about-section {
          text-align: center;
          font-family: inherit;
          padding-top: 2%;
          background-color: white;
      }

      .about-us {
          float: left;
          padding-top: 2%;
          padding-left: 5%;
      }

      h4 {
          text-transform: uppercase;
          font-weight: 400;
      }

      .about-us-text {
          margin-top: 2%;
          font-size: 1.5em;
          font-weight: bolder;
      }

      .about-paragraph {
          font-size: 0.9em;
      }

      .about-us-img {
          height: 45%;
          width: 40%;
          margin: 0%;
          padding-top: 3%;
      }

      .project-num {
          padding-left: 10%;
          margin-top: -9%;
          margin-bottom: 1%;
          text-align: center;
          display: flex;
          font-size: 1.5em;
          font-weight: bold;
          justify-content: left;
      }

      .survey-1 {
          margin-top: 2%;
          margin-right: 5%;
          float: left;
      }

      .survey-2 {
          margin-top: 2%;
          margin-right: 5%;
          float: left;
      }

      .service-section {
          padding-top: 2%;
          padding-bottom: 2%;
          text-align: none;
          background-color: #e2dedefc;
      }

      .skill-section {
          display: flex;
      }

      .service-title {
          margin-top: 2%;
          font-size: 1.5em;
          font-weight: bold;
      }

      .service-type {
          font-size: 2em;
          font-weight: bold;
      }

      .service-type-paragraph {
          padding-left: 10%;
          padding-right: 10%;
          font-family: inherit;
          font-size: 0.9em;
      }

      .project-section {
          font-family: inherit;
          text-align: center;
          padding-top: 2%;
          padding-bottom: 2%;
          background-color: white;
      }

      .project-title {
          font-size: 1.2em;
          font-weight: bold;
          margin-top: 2%;
          margin-bottom: 2%;
      }

      .made-project {
          display: flex;
          justify-content: center;
      }

      .completed-project {
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 2%;
          padding: 1%;
          background-color: #e2dedefc;
          border: 2px grey;
          box-shadow: 8px 8px 10px #CBC3C3;
          border-radius: 0.8em;
      }

      .completed-project p {
          margin: 0%;
          padding: 0%;
      }

      #ebazarnepal {
          padding-left: 4%;
          padding-right: 4%;
      }

      #mediequip {
          padding-left: 8%;
          padding-right: 8%;
      }

      #workspace {
          padding-left: 7%;
          padding-right: 7%;
      }

      .contact-form {
          border-radius: 1em;
          background-color: #f2f2f2;
          margin-left: 30%;
          margin-right: 30%;
          padding: 2em;
      }
  }